@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#headTitle {
    font-size: 25px;
    font-weight: bolder;
    text-transform: lowercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.uniFont{
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: lighter;
    color:white;
    font-size: medium;
}

#pFont{
    font-family: 'Times New Roman', Times, serif;
}